# {{ ansible_managed }}

upstream grafana {
  server localhost:{{ grafana_port }};
}

server {
    listen              443 ssl;
    include             {{ grafana_ssl_params }};
    server_name         {{ grafana_fqdn }};

    access_log          {{ grafana_nginx_log_dir }}/nginx.access.log;
    error_log           {{ grafana_nginx_log_dir }}/nginx.error.log;
    
    location / {
        include {{ grafana_proxy_params }};
	proxy_pass http://grafana;
    }
}
